<div class="flex flex-col md:flex-row md:justify-center items-center xl:h-[80vh]">
  <div class="text-center md:text-left">
    <h1 class="text-6xl sm:text-9xl font-extrabold p-4">Pet<br class="hidden md:block"> Care</h1>
    <h3 class="text-2xl sm:text-4xl font-bold p-4 mb-8">Por veterinarios expertos</h3>
    <div class="h-14">
      <a href="tel:+543462680563" class="bg-[#3A54B4] text-white p-4 mx-4 cursor-pointer">Reserva una Cita</a>
    </div>
  </div>
  <div>
    <img src="../../../assets/welcome.webp" alt="dog welcome" class="rounded-full w-60 md:w-full">
  </div>
</div>
<section>
  <div>
    <h2 class="text-center text-5xl font-bold my-24">Nuestros servicios</h2>
  </div>
  <div class="flex justify-center items-center flex-col sm:flex-row md:gap-10 xl:gap-28">
    <div class="flex flex-col items-center max-w-60 gap-4">
      <img src="../../../assets/dog1.webp" alt="dog welcome" class="rounded-full w-60">
      <h3 class="text-center text-2xl font-bold">Servicios médicos para mascotas</h3>
      <p class="text-center">Prestación de todos los tratamientos médicos y servicios de peluquería relacionados con los animales de compañía.</p>
      <div class="h-14 m-6">
        <a href="tel:+543462680563" class="bg-[#3A54B4] text-white p-4 mx-4 cursor-pointer text-nowrap">Reserva una Cita</a>
      </div>
    </div>
    <div class="flex flex-col items-center max-w-60 gap-4">
      <img src="../../../assets/dog2.webp" alt="dog welcome" class="rounded-full w-60">
      <h3 class="text-center text-2xl font-bold">Consulta a domicilio</h3>
      <p class="text-center">¿Quieres que revisen a tu mascota en casa? Obtenga los mejores servicios de cuidado de mascotas en la puerta de su casa.</p>
      <div class="h-14 m-6">
        <a href="tel:+543462680563" class="bg-[#3A54B4] text-white p-4 mx-4 cursor-pointer text-nowrap">Reserva una Cita</a>
      </div>
    </div>
    <div class="flex flex-col items-center max-w-60 gap-4">
      <img src="../../../assets/dog3.webp" alt="dog welcome" class="rounded-full w-60">
      <h3 class="text-center text-2xl font-bold">Audio/vídeo de consulta en línea</h3>
      <p class="text-center">Recibe asesoramiento de veterinarios cualificados de la India estés donde estés mediante audio/vídeo llamadas.</p>
      <div class="h-14 m-6">
        <a href="tel:+543462680563" class="bg-[#3A54B4] text-white p-4 mx-4 cursor-pointer text-nowrap">Reserva una Cita</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div>
    <h2 class="text-center text-5xl font-bold my-24">
      Lo que los dueños de mascotas dicen de nosotros</h2>
  </div>
  <div class="flex justify-center items-center flex-col sm:flex-row md:gap-10 xl:gap-28">
    <div class="flex flex-col items-center max-w-60 gap-4">
      <h3 class="text-center text-2xl font-bold">"Muy profesional"</h3>
      <p class="text-center">Doctor de voz suave con grandes conocimientos. Gracias Dr. Anirudh Mittal para el tratamiento de mi mascota.</p>
      <div class="h-14 m-6">
        <p class="p-4 mx-4 text-nowrap text-[#3A54B4]">Juancito Perez</p>
      </div>
    </div>
    <div class="flex flex-col items-center max-w-60 gap-4">
      <h3 class="text-center text-2xl font-bold">"Gran servicio"</h3>
      <p class="text-center">Comida para perros de la mejor calidad, todo tipo de accesorios y lo mejor es que también hay albergue canino!</p>
      <div class="h-14 m-6">
        <p class="p-4 mx-4 text-nowrap text-[#3A54B4]">Daniel Santos</p>
      </div>
    </div>
    <div class="flex flex-col items-center max-w-60 gap-4">
      <h3 class="text-center text-2xl font-bold">Audio/vídeo de consulta en línea</h3>
      <p class="text-center">Recibe asesoramiento de veterinarios cualificados de la India estés donde estés mediante audio/vídeo llamadas.</p>
      <div class="h-14 m-6">
        <p class="p-4 mx-4 text-nowrap text-[#3A54B4]">Facundo Monzon</p>
      </div>
    </div>
  </div>
</section>
